<?xml version='1.0' encoding='utf-8'?>
<widget id="au.com.crudigital.immunisation" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>VacciDate</name>

    <description>
        QLD Health - VacciDate
    </description>

    <author email="stevet@crudigital.com.au" href="http://crudigital.com.au">
        Cru Digital
    </author>

    <!-- platforms to build for -->
    <gap:platform name="ios" />
    <gap:platform name="android" />

    <!-- phonegap version -->
    <preference name="phonegap-version" value="3.4.0" />

    <!-- core plugins  phonegap 3.0.0+ -->
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.splashscreen" />

    <!-- only include plugins as needed -->
    <!--
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.audiohandler" />
    <gap:plugin name="org.apache.cordova.vibration" />
    -->

    <!-- analytics -->
    <gap:plugin name="com.adobe.plugins.gaplugin" />

    <!-- local notifications -->
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />

	<!-- calendar -->
	<gap:plugin name="nl.x-services.plugins.calendar" />

	<!-- contacts picker -->
    <gap:plugin name="com.badrit.contactpicker" />

    <!-- ionic keyboard -->
    <gap:plugin name="com.ionic.keyboard" />

    <!-- in app browser -->
    <gap:plugin name="org.li8.inappbrowser" version="0.1" />

    <!-- preferences -->
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="permissions" value="none"/>

    <!-- icons -->
    <icon src="res/icon/icon.png" />

    <!-- ios -->
    <icon gap:platform="ios" height="29" width="29" src="res/icon/ios/icon-29.png" />
    <icon gap:platform="ios" height="40" width="40" src="res/icon/ios/icon-40.png" />
    <icon gap:platform="ios" height="50" width="50" src="res/icon/ios/icon-50.png" />
    <icon gap:platform="ios" height="57" width="57" src="res/icon/ios/icon-57.png" />
    <icon gap:platform="ios" height="58" width="58" src="res/icon/ios/icon-29@2x.png" />
    <icon gap:platform="ios" height="60" width="60" src="res/icon/ios/icon-60.png" />
    <icon gap:platform="ios" height="72" width="72" src="res/icon/ios/icon-72.png" />
    <icon gap:platform="ios" height="76" width="76" src="res/icon/ios/icon-76.png" />
    <icon gap:platform="ios" height="80" width="80" src="res/icon/ios/icon-40@2x.png" />
    <icon gap:platform="ios" height="100" width="100" src="res/icon/ios/icon-50@2x.png" />
    <icon gap:platform="ios" height="114" width="114" src="res/icon/ios/icon-47@2x.png" />
    <icon gap:platform="ios" height="120" width="120" src="res/icon/ios/icon-60@2x.png" />
    <icon gap:platform="ios" height="144" width="144" src="res/icon/ios/icon-72@2x.png" />
    <icon gap:platform="ios" height="152" width="152" src="res/icon/ios/icon-76@2x.png" />

    <!-- android -->
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/icon-ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/icon-mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon-hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/icon-xhdpi.png" />
    <icon gap:density="xxhdpi" gap:platform="android" src="res/icon/android/icon-xxhdpi.png" />

    <!-- splash screens -->

    <!-- ios -->
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-3.5in.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-3.5in@2x.png" width="640" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-4in@2x.png" width="640" />

    <!-- android -->
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi.png" />

    <!-- CORS -->
    <access origin="*" />

</widget>
