.ar-bubble {
    margin: 0 auto;
    height: 500px;
    width: 500px;
    
    border-radius: 50%;
    border: 3px solid rgba(0,153,255,0.4);
	/* background: rgba(255,255,255,0.25); */
	background: rgba(0,153,255,0.25);
	-webkit-transform-origin: 55% 60%;
}

.ar-bubble-pop {
	-webkit-animation: bubble-pop-animation 2s ease-out forwards !important;
}

@-webkit-keyframes bubble-animation {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes bubble-pop-animation {
	0% { -webkit-transform: scale(1); }
	
	5% {
		-webkit-transform: scale(0.8);
		background: rgba(0,153,255,0.25);
	}
	
	30% { opacity: 1; }
	
	50% { background: rgba(0,153,255,0); }
	
	70% { opacity: 0; }
	
	100% {
		-webkit-transform: scale(8);
		background: rgba(0,153,255,0);
		opacity: 0;
	}
}