ion-side-menus
    ion-side-menu-content(ng-controller='AppCtrl')
        ion-nav-bar.bar-positive(animation='nav-title-slide-ios7')
            ion-nav-back-button.button-icon.ion-ios7-arrow-left
        ion-nav-view(name='app', animation='slide-left-right-ios7')
    
    ion-side-menu(side='left')
        ion-content.has-header
            .list
                .item.item-icon-left(ng-click='loadWorld()')
                    i.icon.ion-map
                    | Explore
                .item.item-icon-left(ui-sref='app.user', menu-close, nav-clear)
                    i.icon.ion-ios7-person
                    | Profile
                .item.item-icon-left(ui-sref='app.friends', menu-close, nav-clear)
                    i.icon.ion-ios7-people
                    | Friends
                .item.item-icon-left(ui-sref='app.favourites', menu-close, nav-clear)
                    i.icon.ion-ios7-star
                    | Favourites
                .item.item-icon-left(ui-sref='app.settings', menu-close, nav-clear)
                    i.icon.ion-gear-a
                    | Settings