ion-view.article(title='Article')
    ion-nav-buttons(side='right')
        button.button.button-icon(ng-class="getFavouriteClass()", ng-click="toggleFavourite()")
        button.button.button-icon.ion-ios7-upload-outline(ng-click='drop()')
    
    ion-content
        h2.title {{ article.title }}
        small.author by {{ article.author }}
        p(ng-bind-html="article.content")
        
        small.dropped-by Dropped By
        .list
            .item.item-avatar.item-icon-right(ng-repeat='profile in profiles track by $index', ui-sref='app.profile({ profile_id: $index })')
                img(ng-src='{{ profile.getPicture("small") }}')
                | {{ profile.getName() | capitalise }}
                i.icon.ion-ios7-arrow-right
    
    button.button.button-icon.ion-ios7-close-outline(ng-click='cancelDrop()')