ion-view.explore(title='Explore')
    ion-nav-buttons(side='left')
        button.button.button-icon.ion-navicon(ng-click='toggleMenu()')
    ion-nav-buttons(side='right')
        button.button.button-icon.ion-map(ng-click='loadWorld()')
    
    ion-content