ion-view.profile(title='{{ profile.getName() | capitalise }}')
    ion-nav-buttons(side='left', ng-if='is_me')
        button.button.button-icon.ion-navicon(ng-click='toggleMenu()')
    ion-nav-buttons(side='right')
        button.button.button-icon(ng-class='getFriendClass()', ng-click='toggleFriend()')
    
    ion-content
        .large-avatar
            img(ng-src='{{ profile.getPicture() }}')
        
        .row
            .col
                i.icon.ion-pin
                | {{ profile.bubbles_popped }}
            .col
                i.icon.ion-ios7-upload-outline
                | {{ profile.bubbles_dropped }}
            .col
                i.icon.ion-ios7-people
                | {{ profile.count_friends }}
        
        .list
            .item-divider
                i.icon.ion-ios7-clock-outline
                | Recently Read
            .item.item-icon-right(ng-repeat='article in profile.getRecentArticles()', ui-sref='app.article({ article_id: article.id })')
                h2.title {{ article.title }}
                small.author by {{ article.author }}
                i.icon.ion-ios7-arrow-right
        
            .item-divider(ng-if='!is_me')
                i.icon.ion-ios7-star-outline
                | Favourite Articles
            .item.item-icon-right(ng-if='!is_me', ng-repeat='article in profile.getFavouriteArticles()', ui-sref='app.article({ article_id: article.id })')
                h2.title {{ article.title }}
                small.author by {{ article.author }}
                i.icon.ion-ios7-arrow-right