.article .padding {
  padding: 20px;
}
.article .title {
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.article .author {
  display: block;
  margin-top: -2px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #777;
}
.article p {
  margin-left: 20px;
  margin-right: 20px;
}
.article .dropped-by {
  display: block;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #777;
}
.article .ion-ios7-close-outline {
  position: absolute;
  bottom: -50px;
  left: 50%;
  margin-left: -26px;
  color: #333;
  font-size: 40px;
}

.item-avatar {
  padding-left: 70px;
  padding-top: 19px;
  padding-bottom: 19px;
  min-height: 60px;
}
.item-avatar > img:first-child {
  left: 15px;
  top: 10px;
  border-radius: 50%;
}

.bubble-animation .bar-header > * {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.bubble-animation .scroll-content {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  pointer-events: none;
}
.bubble-animation .ion-ios7-close-outline {
  -webkit-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
}
.bubble-in .bar-header {
  -webkit-animation: bubble-in-header 1s forwards;
  overflow: hidden;
}
.bubble-in .bar-header .button.back-button,
.bubble-in .bar-header > *:not(.right-buttons),
.bubble-in .bar-header .right-buttons .ion-ios7-star {
  opacity: 0;
}
.bubble-in .bar-header .right-buttons {
  right: 4px;
}
.bubble-in .bar-header .right-buttons:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: 17px;
  font-family: "Ionicons";
  font-size: 20px;
  line-height: 40px;
  content: "\f122";
}
.bubble-in .scroll-content {
  opacity: 0.2;
  transform: scale(0.8) translateY(-10%);
}
.bubble-in .ion-ios7-close-outline {
  bottom: 26px;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
.bubble-confirm .bar-header .right-buttons {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.bubble-confirm .bar-header .right-buttons:after {
  -webkit-animation: bubble-done-rotate 1s infinite linear;
  margin-left: 13px;
  font-size: 25px;
  content: "\f29d";
}
.bubble-done .bar-header .right-buttons {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.bubble-out .bar-header {
  -webkit-animation: bubble-out-header 0.5s;
}
.bubble-out .bar-header .button.back-button,
.bubble-out .bar-header > *:not(.right-buttons),
.bubble-out .bar-header .right-buttons .ion-ios7-star {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.bubble-out .scroll-content {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
@-webkit-keyframes bubble-in-header {
  30% {
    top: 0;
    left: 50%;
    margin-top: 0px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
@-webkit-keyframes bubble-out-header {
  0% {
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  70% {
    top: 0;
    left: 50%;
    margin-top: 0px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  100% {
    left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
@-webkit-keyframes bubble-done-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.explore-item {
  float: left;
  margin: 0;
  width: 33.33333333%;
  padding: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  border: none;
}
.explore-article {
  margin: 0 auto;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #4A87EE;
}

.favourites .title {
  margin-bottom: 0;
}
.favourites .author {
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
}

.form {
  padding-top: 20px;
  background-color: #efefef;
}

.friends .item-avatar {
  padding-top: 24px;
  padding-bottom: 24px;
}
.friends .item-avatar > img {
  top: 11px;
  left: 11px;
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

.item-content p {
  margin-bottom: 0;
}

.profile .large-avatar {
  margin: 20px 60px;
}
.profile .large-avatar > img {
  width: 100%;
  border-radius: 50%;
}
.profile .row {
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  color: #555;
}
.profile .col {
  text-align: center;
}
.profile .col .icon {
  display: inline-block;
  margin-right: 10px;
  transform: scale(1.5);
}
.profile .item-divider {
  display: block;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #777;
  background-color: transparent;
}
.profile .item-divider:first-child {
  margin-top: 10px;
}
.profile .item-divider .icon {
  display: block;
  font-size: 20px;
}
.profile .title {
  margin-bottom: 0;
}
.profile .author {
  display: block;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
}


/*# sourceMappingURL=app.css.map*/